
<div class="content-section implementation">
    <p-dataTable [value]="contacts" selectionMode="single" [(selection)]="selectedCar" (onRowSelect)="onRowSelect($event)" [paginator]="true" rows="15" [responsive]="true">
        <p-column field="firstName" header="Name" [sortable]="true"></p-column>
        <p-column field="email" header="Email" [sortable]="true"></p-column>
        <p-column field="primaryContactNumber" header="Contact Number" [sortable]="true"></p-column>
        <p-column field="country" header="Country" [sortable]="true"></p-column>
        <p-footer><div class="ui-helper-clearfix" style="width:100%"><button type="button" pButton icon="fa-plus" style="float:left" (click)="showDialogToAdd()" label="Add"></button></div></p-footer>
    </p-dataTable>

    <p-dialog header="Contacts Details" [(visible)]="displayDialog"  [width]="800" [responsive]="true" showEffect="fade" [modal]="true">
        <div class="ui-grid ui-grid-responsive ui-grid-col-12 ui-fluid" *ngIf="contact">
            <div class="ui-grid-row">
                <div class="ui-grid-col-2"><label for="firstName">First Name</label></div>
                <div class="ui-grid-col-2"><input pInputText id="firstName" [(ngModel)]="contact.firstName" /></div>
                <div class="ui-grid-col-2"><label for="middelName">Middel Name</label></div>
                <div class="ui-grid-col-2"><input pInputText id="middelName" [(ngModel)]="contact.middelName" /></div>
                <div class="ui-grid-col-2"><label for="lastName">Last Name</label></div>
                <div class="ui-grid-col-2"><input pInputText id="lastName" [(ngModel)]="contact.lastName" /></div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="year">Email</label></div>
                <div class="ui-grid-col-8"><input pInputText id="year" [(ngModel)]="contact.email" /></div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-3"><label for="primaryContactNumber">Contact Number</label></div>
                <div class="ui-grid-col-3"><input pInputText id="primaryContactNumber" [(ngModel)]="contact.primaryContactNumber" /></div>
                <div class="ui-grid-col-3"><label for="secondaryContactNumber">Contact Number</label><i>(optional)</i></div>
                <div class="ui-grid-col-3"><input pInputText id="secondaryContactNumber" [(ngModel)]="contact.secondaryContactNumber" /></div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="color">Country</label></div>
                <div class="ui-grid-col-8"><input pInputText id="color" [(ngModel)]="contact.country" /></div>
            </div>
        </div>
        <p-footer>
            <div class="ui-dialog-buttonpane ui-helper-clearfix">
                <button type="button" pButton icon="fa-close" (click)="delete()" label="Delete"></button>
                <button type="button" pButton icon="fa-check" (click)="save()" label="Save"></button>
            </div>
        </p-footer>
    </p-dialog>
</div>
