:host /deep/ .ui-dialog input{
    width: 100%;
    }
    
    :host /deep/ .ui-dialog{
        width: 90%;
        }
    
    :host /deep/ .ui-datatable table{
        height: calc(100vh - 163px);
    }